* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

.space {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    background: rgb(11, 7, 7);
    overflow: hidden;
}

.solar-system {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(11, 7, 7);
    overflow: hidden;
}

.orbit {
    position: absolute;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: white;
}

.orbit::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translateX(-50%);
    top: -12px;
    left: 50%;
    border-radius: 50%;
    background: var(--col);
    box-shadow: 0 0 20px var(--col),
    0 0 60px var(--col);
}

.sun {
    width: 50px;
    height: 50px;
    background: yellow;
    border-radius: 50%;
    box-shadow: 0 0 20px yellow,
    0 0 60px rgb(255, 81, 0);
}

.mercury {
    width: 130px;
    height: 130px;
    animation: rotating-anim 1s linear infinite;
}

.venus {
    width: 175px;
    height: 175px;
    animation: rotating-anim 2.5s linear infinite;
}

.earth {
    width: 230px;
    height: 230px;
    animation: rotating-anim 3s linear infinite;
}

.mars {
    width: 295px;
    height: 295px;
    animation: rotating-anim 4.5s linear infinite;
}

.jupiter {
    width: 375px;
    height: 375px;
    animation: rotating-anim 9.5s linear infinite;
}

.saturn {
    width: 455px;
    height: 455px;
    animation: rotating-anim 12.5s linear infinite;
}

.uranus {
    width: 535px;
    height: 535px;
    animation: rotating-anim 15s linear infinite;
}

.neptune {
    width: 635px;
    height: 635px;
    animation: rotating-anim 35s linear infinite;
}

@keyframes rotating-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 300px) and (max-width: 800px) {  
    .venus {
        width: 185px;
        height: 185px;
    }
    
    .mars {
        width: 275px;
        height: 275px;
    }
    
    .jupiter {
        width: 335px;
        height: 335px;
    }
    
    .saturn {
        width: 380px;
        height: 380px;
    }
    
    .uranus {
        width: 425px;
        height: 425px;
    }
    
    .neptune {
        width: 485px;
        height: 485px;
    }
}